body {
    display: grid;
    font-size: 16px;
}

#root {
    /*background-color: #ffa1a1*/
}

.W100 {
    width: 100%;
 }

.employee:hover{
    background-color: aqua;
}

@media screen and (min-width: 992px) {
    .wrapper {
        overflow-x: auto;
    }
}